*.suo
*.csproj.*
*.exe
*.dll
*.exe.config
*.exe.manifest
*.pdb
*.application
*.mdf
*.ldf
*.orig
~*.docx
*.aux
*.log
*.out
*.toc
*.zip
*.sln.cache
*.sln.docstates
*.lnk
*.vssscc
obj/
bin/
_Resharper.*
*.bin
*.Resharper.user
_UpgradeReport_Files/
UpgradeLog.XML